

body {
	background-color: white;
	padding-left: 150px;
	padding-right: 150px;	
}	

.contain {
	background-image: url(cork-wallet.png);
    height: 600px;
    margin-top: 5px;
    padding-left: 30px;
    padding-top: 30px;
}

.header {
	background-color: #ffffff;
	position: relative;
}

.myname {
	background-color: #4daaa5;
	font-size: 25px;
	float: left;
	color: white;
	text-align: center;
	margin-left: 50px;
	width: 200px;
	height: 80px;
}
.link {
	color: #cccccc;
	background-color: white;
	font-size: 20px;
	height: 75px;
	width: 960px;
	text-align: center;
}

.about {
	float: left;
	padding-left: 400px;
}

.portfolio {
	float: left;
	padding-left: 20px;
}

.contact {
	float: left;
	padding-left: 20px;
	padding-right: 55px;	
}

.about-me {
	background-color: white;
	font-size: 20px;
	float: left;
	padding: 30px;
	margin-left: 20px;
	width: 800px;
	height: 500px;
}

img {
	float: left;
	position: relative;
	margin-right: 15px;
}

.text {
	text-align: justify;
	line-height: 1.2;
}

.text-1 {
	text-align: justify;
	line-height: 1.2;
}

.images {
	background-color: white;
	float: left;
	padding: 20px;
	width: 800px;
	height: 500px;
}

.contact-me {
	background-color: white;
	float: left;
	width: 800px;
	height: 500px;
	padding-left: 30px;
}

h3 {
	color: #4daaa5;
}

.button {
	background-color: #4daaa5;
	width: 100px;
	height: 50px;
}
.contact-icon {
	background-color: white;
	color: #4daaa5;
	float: right;
	padding: 20px;
	position: relative;
	margin-right: 50px;
}

.footer {
	background-color: #666666;
	clear: both;
	text-align: center;
	padding-top: 25px;
	position: relative;
	height: 50px;
}

@media screen and (max-width: 980px) {
	
	body {
	background-image: url(cork-wallet.png);
	padding-left: 5px;
	padding-right: 5px;
	}

	.header {
		position: static;
	}
	
	.contain {
		height: inherit;
	}
	.about {
    float: left;
    padding-left: 150px;
	}

	.about-me {
		width: 500px;
		height: 700px;
		margin-right: 5px;
		margin-left: 5px;
	}
	
	.text {
		width: 500px;
	}
	.text-1 {
		width: 500px;
	}

	.contact-icon {
		float: left;
		margin-right: 5px;
		width: 170px
	}
	
	.footer {
		width: 100%;
	}
}

